/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #6441a5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  color: #413c4b;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  row-gap: 2rem;
  background-color: #e0d9f1;
  padding: 3rem 2rem;
  margin-top: 2rem;
  border-radius: 6px;
  box-shadow: 0px 16px 32px #372658;
  margin-bottom: 4rem;
}

form div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

form input {
  height: 2rem;
  border: 1px solid #595364;
  border-radius: 4px;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  padding: 0 8px;
  color: #413c4b;
  outline-color: #595364;
}

/*form input:focus,
form input:focus-visible,
form input:focus-within {
  border-color: #595364;
  outline-color: #595364;
}*/

.errorMessage {
  color: #ff4e60;
  font-weight: 400;
  display: none;
}

.tos-container {
  flex-direction: row;
  width: fit-content;
}

.tos-container input {
  height: 16px;
  width: fit-content;
  margin-right: 1rem;
}

.tos-container label {
  width: 100%;
}

.radioButton {
  width: fit-content;
}

.radioButtonLabel {
  width: fit-content;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
}

.submitButton {
  background-color: #6441a5;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: fit-content;
  height: fit-content;
}
